<ion-header>
  <ion-toolbar>
    <ion-title>stations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Countries</ion-label>
    <ion-select multiple="true" cancelText="Cancel" okText="Filter" (ionChange)="selectCountry($event)">
      <ion-select-option [value]="country.alpha2" *ngFor="let country of countries">{{country.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  {{this.selectedCountry }}
  <ion-text>
    {{stations.length}}
  </ion-text>
  <ion-list>
    <ion-item-sliding *ngFor="let station of stations">
      <ion-item>
        <ion-label>{{station.name}} {{station.geoLat}} {{station.geoLong}}</ion-label>
        <ion-button slot="start" (click)="play(station.url)">
          <ion-icon name="play"></ion-icon>
        </ion-button>
        <ion-button color="danger" slot="end">
          <ion-icon name="star"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="play(station.url)">Unread</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>